<div class="row">
    <div class="col-md-6 actions">
        <div class="form-group">
            <label class="col-sm-6 control-label">{intl l="For the selection:"}</label>
            <div class="col-sm-6">
                <select class="js-bulk-order-status" name="bulk_action_id" data-toggle="selectpicker">
                    {loop type="order-status" name="all-status"}
                    <option  value="{$ID}" data-content="<span class='label' style='background-color: {$COLOR};'>{$TITLE}</span>">{$TITLE}</option>
                    {/loop}
                </select>
            </div>
        </div>
    </div>
</div>
