<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">
  <forms>
    <form name="admin_order_bulk_action_form_status" class="OrderBulkAction\Form\StatusForm"/>
  </forms>
  <hooks>
    <hook id="module.hook.front" class="OrderBulkAction\Hook\OrdersTableHook" scope="request">
      <tag name="hook.event_listener" event="orders.table-header" type="back" method="onOrdersTableHeader" />
      <tag name="hook.event_listener" event="orders.table-row" type="back" method="onOrdersTableRow" />
      <tag name="hook.event_listener" event="orders.js" type="back" method="onOrdersJs" />
      <tag name="hook.event_listener" event="orders.top" type="back" method="onOrdersTop" />
    </hook>
  </hooks>
</config>
